
<!DOCTYPE html>
<html>
<head>
[#include "manage/common/head.html" /]
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>编辑新闻</h5>
                    </div>
                    <div class="ibox-content">
                        <button id="add" type="button" class="btn btn-primary pull-right" data-toggle="modal" data-title="新建" data-target="#newsConsultationModal">添加新闻</button>
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th class="text-center">新闻标题</th>
                                    <th class="text-center">新闻作者</th>
                                    <th class="text-center">发布时间</th>
                                    <th class="text-center">新闻图片</th>
                                    <th class="text-center">操作项</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="newsConsultationModal" tabindex="-1" role="dialog" aria-hidden="true" >
       	<div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">新建</h4>
                </div>
                <div class="modal-body">
					<form class="form-horizontal" id="myForm">
						<div class="form-group">
							<label class="col-sm-2 control-label">新闻标题</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="newsTitle">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">新闻作者</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="author">
							</div>
						</div>
						<div class="form-group">
								<label class="col-sm-2 control-label">发布时间</label>
								<div class="col-sm-8">
									<input id="newsTime" type="text" class="form-control" readonly>
								</div>
						</div>
						<div class="form-group">
                             <label class="col-sm-2 control-label">新闻内容</label>
                             <div class="col-sm-8">
                           	 	<div id="summernote"></div>
                             </div>
                        </div>
						<div class="form-group">
							<label class="col-sm-2 control-label">案例图片</label>
							<div class="col-sm-8" id="imgUpload1">
								<div id="img1" class="uploader-list"></div>
								<div id="progress1"></div>
								<div id="filePicker1">选择图片</div>
							</div>
						</div>
					</form>
                </div>
                <div class="modal-footer clearfix">
                    <div class="form-group col-md-8 col-sm-offset-2 text-center">
                        <button type="button" class="btn btn-primary" id="save">保存</button>
                    </div>
                </div>
                <input type="hidden" id="imgId">
                <input type="hidden" id="newsConsultationId">
            </div>
        </div>
    </div>
    [#include "manage/common/js.html" /]
    <script>
    $.fn.datetimepicker.dates['en'] = {
    		days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
			daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
			daysMin:  ["日", "一", "二", "三", "四", "五", "六", "日"],
			months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
			monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
			today: "今天",
			suffix: [],
			meridiem: ["上午", "下午"]
    };
    
    $("#newsTime").datetimepicker({format: 'yyyy-mm-dd hh:ii',autoclose:true});
	    
	   function restForm(){
		   	$("#newsTitle").val("");
		   	$("#author").val("");
		   	$("#newsTime").val("");
		   	$('#summernote').summernote('code', "");
		   	$('#img1').empty();
		   	$('#progress1').empty();
	   } 
	   
	   $("#newsConsultationModal").on("hidden.bs.modal", function() {
		   restForm();
		});
	   
	   $(function() {
	       $('#summernote').summernote({
	       	height : 150,
			lang: 'zh-CN',
			fontNames: ['Microsoft YaHei', 'DengXian', '新宋体', '黑体'],
			callbacks: {
			    onImageUpload: function(files) {
			    	 var formData = new FormData();
			            formData.append('file',files[0]);
			            $.ajax({
			                url : '${base}/manage/upload',//后台文件上传接口
			                type : 'POST',
			                data : formData,
			                dataType : 'json',
			                processData : false,
			                contentType : false,
			                success : function(data) {
			                    $('#summernote').summernote('insertImage','${base}/'+data.file.path,'img');
			                }
			            });
			    }
			}
	       });
	   });
    
    
    	var imgId = 0;
		var newsConsultationId = 0;
		$('#newsConsultationModal').on('show.bs.modal', function(event) {
			var button = $(event.relatedTarget);
			var recipient = button.data('title');
			var modal = $(this);
			modal.find('.modal-title').text(recipient);
			if(recipient == "编辑"){
				$.post("${base}/manage/newsConsultation/getNewsConsultation/"+button.data('id'),function(r){
					imgId = r.newsConsultation.imgId;
					newsConsultationId = r.newsConsultation.id;
					$('#imgId').val(imgId);
					$('#newsConsultationId').val(newsConsultationId);
					$("#img1").html('<img src="${base}/'+r.newsConsultation.imgPath+'" alt="..." height="100px;"/>');
				},'json')
			}else if(recipient == "新建"){
				newsConsultationId = 0;
				imgId = 0;
				$('#imgId').val(imgId);
				$('#newsConsultationId').val(newsConsultationId);
			}
		});

		var uploader1 = WebUploader.create({
			auto : true,
			swf : '${base}/plugin/webuploader/Uploader.swf',
			server : '${base}/manage/upload',
			pick : '#filePicker1',
			method : "POST",
			accept : {
				title : 'Images',
				extensions : 'gif,jpg,jpeg,bmp,png',
				mimeTypes : 'image/*'
			},
			resize : false,
			sendAsBinary : false,
			fileNumLimit : 1
		});

		uploader1.on('fileQueued', function(file) {
			uploader1.makeThumb(file, function(error, src) {
				if (error) {
					$img.replaceWith('<span>不能预览</span>');
					return;
				}
				$("#img1").html('<img src="'+src+'" alt="..."/>');
				$("#img1").addClass("img-show");
			}, 100, 100);
		});

		uploader1.on('uploadProgress', function(file, percentage) {
			var $li = $('#' + file.id), $percent = $li.find('.progress span');

			if (!$percent.length) {
				$percent = $('<p class="progress"><span></span></p>').appendTo(
						$li).find('span');
			}
			$("#progress1").html(parseInt(percentage * 100) + '%');
		});

		uploader1.on('beforeFileQueued', function(file) {
			uploader1.reset();
		});

		uploader1.on('uploadSuccess', function(file, r) {
			imgId = r.file.id;
			$('#imgId').val(imgId);
			$('#' + file.id).addClass('upload-state-done');
			$("#img1").append('<p>已上传</p>');
		});

		uploader1.on('uploadError', function(file) {
			var $li = $('#' + file.id), $error = $li.find('div.error');

			if (!$error.length) {
				$error = $('<div class="error"></div>').appendTo($li);
			}

			$error.text('上传失败');
		});
		
        $(function(){
        	dt = $('.dataTables').dataTable({
				"ordering" : false,
				"searching" : false,
				"info" : true,
				"bLengthChange" : false,
				"pagingType" : "full_numbers",
				"language" : {
					"lengthMenu" : "每页 _MENU_ 条记录",
					"zeroRecords" : "没有找到记录",
					"info" : "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
					"infoEmpty" : "无记录",
					"infoFiltered" : "(从 _MAX_ 条记录过滤)",
					"sEmptyTable" : "表中数据为空",
					"sLoadingRecords" : "载入中...",
					"oPaginate" : {
						"sFirst" : "首页",
						"sPrevious" : "上一页",
						"sNext" : "下一页",
						"sLast" : "末页"
					}
				},
				"serverSide" : true,
				"sAjaxSource" : "${base}/manage/newsConsultation/getNewsConsultationList",
				"columns" : [ {
					"data" : "newsTitle",
					"sWidth": "30%"
				}, {
					"data" : "author",
					"sWidth": "15%"
				}, {
					"data" : "newsTime",
					"sWidth": "15%"
				}, {
					"data" : "imgPath",
					"sWidth": "30%",
					"render" : function(data) {
						if(data != "" && data != null){
							return '<img src="${base}/'+data+'" alt="..." height="100px;"/>'
						} else return "";
					}
				}, {
					"data" : "id",
					"sWidth": "10%",
					"render" : function(data) {
						return '<div class="text-center"><button class="btn btn-info btn-sm" type="button" data-title="编辑" data-toggle="modal" data-target="#newsConsultationModal" data-id="'+ data+'" onclick="edit('+ data+')">编辑</button>'+
						'&nbsp;&nbsp;<button class="btn btn-warning btn-sm" type="button" onclick="del('+ data +')">删除</button><div>';
					}
				}  ],
				"fnServerData" : function(sSource, aoData, fnCallback) {
					$.ajax({
						"dataType" : 'json',
						"type" : "POST",
						"url" : sSource,
						"data" : aoData,
						"success" : fnCallback
					});
				}
			});
        	
        })
        
        function search(){
 			dt.fnFilter();
 		}
	    
        $("#save").click(function(){
        	imgId = $("#imgId").val();
        	newsConsultationId = $("#newsConsultationId").val();
        	if(imgId == 0){
				swal("警告","请上传图片！","warning");
				return;
			}
        	var newsTitle = $("#newsTitle").val().trim();
        	if(newsTitle == ""){
        		swal("警告","新闻标题不能为空！","warning");
        		return;
        	}
        	var author = $("#author").val().trim();
        	if(author == ""){
        		swal("警告","作者不能为空！","warning");
        		return;
        	}
        	var newsTime = $("#newsTime").val();
        	if(newsTime == ""){
        		swal("警告","发布时间不能为空！","warning");
        		return;
        	}
        	var content = $('#summernote').summernote('code');
        	if(content == ""){
        		swal("警告","新闻内容不能为空！","warning");
        		return;
        	}
        	$.post("${base}/manage/newsConsultation/save",{
        		id:newsConsultationId,
        		newsTitle: newsTitle,
        		author: author,
        		newsTime:newsTime,
        		content: content,
        		imgId: imgId
        	},function(r){
        		if(r.code==0){
        			swal("成功","保存完成！","success");
        			$('#newsConsultationModal').modal('hide');
        			search();
        		}else{
        			swal("错误",r.msg,"error");
        		}
        	},'json')
        })
        
        function edit(id){
        	$.post("${base}/manage/newsConsultation/getNewsConsultation/"+id,function(r){
				imgId = r.newsConsultation.imgId;
				newsConsultationId = r.newsConsultation.id;
				
				$("#imgId").val(imgId);
				$("#newsConsultationId").val(newsConsultationId);
				
				$("#newsTitle").val(r.newsConsultation.newsTitle);
	        	$("#author").val(r.newsConsultation.author);
	        	$('#newsTime').datetimepicker('setDate', new Date(r.newsConsultation.newsTime));
	        	$('#summernote').summernote('code', r.newsConsultation.content);
	        	newsConsultationId = id;
			},'json')
        	
        }
        
        function del(id){
        	swal({
				  title: '确定要删除吗?',
				  type: 'warning',
				  showCancelButton: true,
				  cancelButtonColor: '#3085d6',
				  confirmButtonColor: '#d33',
				  confirmButtonText: '是的,确定!',
				  cancelButtonText: '取消'
				}).then(function () {
					$.post("${base}/manage/newsConsultation/del/"+id,function(r){
		        		if(r.code==0){
		        			swal("成功","已经删除！","success");
		        			search();
		        		}
		        	},'json')
				})
        }
    </script>
</body>
</html>
