<footer class="footer bg-style" style="background-image:url(images/background/bg-3.jpg);">
			<div class="container">
				<div class="footer-upper">
				
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="footer-widget about-widget">
								<a href="#">
									<img src="img/logo2.png" alt="Awesome Image" />
								</a>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;郑州皇壹企业管理咨询有限公司（皇壹咨询）专注于为企业提供公司治理暨企业法律风险的防控和管理的咨询与培训服务。</p>
								<!-- <div class="link_btn">
								   <a href="contact.html" class="button-style-one">contact us</a>
								</div> -->
							</div>
						</div>
						<!-- <div class="col-md-2 col-sm-6">
							<div class="footer-widget quick-links">
								<h3 class="title">Our Services</h3>
								<ul>
									<li><a href="#">Snow Removal</a></li>
									<li><a href="#"> Watering Garden</a></li>
									<li><a href="#">Design Lawn</a></li>
									<li><a href="#">Landscaping</a></li>
									<li><a href="#">Garden Planting</a></li>
								</ul>
							</div>
						</div> -->
						<div class="col-md-6 col-sm-6">
							<div class="footer-widget opening-hour">
								<h3 class="title">联系方式</h3>
								<p>1. 洛阳市洛龙区望春门街与翠云路交叉口康城逸树25-2栋别墅。</p>
								<p>2. 郑州河南自贸试验区郑州片区（郑东）德厚街6号河南煤建大厦B座2单元5层5号</p>
								
								<ul class="day-time">
									<li><span>联系电话 &nbsp;:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>文治朵： 17739097953;&nbsp;&nbsp;&nbsp;&nbsp;文义锋： 18627192388</span></li>
									<li><span>联系邮箱 &nbsp;:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>15225578557@163.com</span></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2 col-sm-6">
							<div class="footer-widget contact-widget">
								<h3 class="title">二维码</h3>
								 <div class="default-form-area">
								 	<img alt="" src="${base}/img/2.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--Footer Bottom-->
				<div class="footer-bottom">					
					<div class="pull-left"><div class="copyright-text">Copyright &copy; 2018.Company huangyi All rights reserved.More Templates
					</div>			         
				</div>
				</div>
			</div>
		</footer>