<!-- jQuery js -->
<script src="${base}/js/jquery.js"></script>
<!-- bootstrap js -->
<script src="${base}/js/bootstrap.min.js"></script>
<!-- jQuery ui js -->
<script src="${base}/js/jquery-ui.js"></script>
<!-- owl carousel js -->
<script src="${base}/js/owl.carousel.min.js"></script>
<!-- jQuery validation -->
<script src="${base}/js/jquery.validate.min.js"></script>

<script src="${base}/js/jquery.scrollloading.js"></script>
<script src="${base}/js/new.js"></script>
<script src="${base}/js/jquery.lazyload.js"></script>

<!-- google map -->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=DrVCLukGepHNHnmReHRCNpPZ5vwfd7Kr"></script>

<!-- <script src="${base}/js/gmap.js"></script> -->
<!-- mixit up -->
<script src="${base}/js/wow.js"></script>
<script src="${base}/js/jquery.mixitup.min.js"></script>
<script src="${base}/js/jquery.fitvids.js"></script>
<script src="${base}/js/bootstrap-select.min.js"></script>
<script src="${base}/js/menuzord.js"></script>

<!-- revolution slider js -->
<script src="${base}/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="${base}/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="${base}/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="${base}/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="${base}/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="${base}/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="${base}/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="${base}/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="${base}/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="${base}/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="${base}/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- fancy box -->
<script src="${base}/js/jquery.fancybox.pack.js"></script>
<script src="${base}/js/jquery.polyglot.language.switcher.js"></script>
<script src="${base}/js/nouislider.js"></script>
<script src="${base}/js/jquery.bootstrap-touchspin.js"></script>
<script src="${base}/js/SmoothScroll.js"></script>
<script src="${base}/js/jquery.appear.js"></script>
<script src="${base}/js/jquery.countTo.js"></script>
<script src="${base}/js/jquery.flexslider.js"></script>
<script src="${base}/js/imagezoom.js"></script>	
<script src="${base}/js/validation.js"></script>
<script id="map-script" src="${base}/js/default-map.js"></script>
<script src="${base}/js/custom.js"></script>

