<!DOCTYPE html>
<html lang="en">
<head>
	[#include "client/common/head.html" /]
	<link href="${base}/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>


<body>
	<div class="boxed_wrapper">
		<section class="theme_menu stricky">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="main-logo">
							<a href="${base}/"><img src="${base}/img/logo.png" alt=""></a>
						</div>
					</div>
					<div class="col-md-8 menu-column">
						<nav class="menuzord" id="main_menu">
						   <ul class="menuzord-menu">
								<li><a href="${base}/intoClient">走进皇壹</a></li>
								<li><a href="${base}/flowPathClient">服务流程</a></li>
								<li><a href="${base}/videoClient?parentId=1">皇壹商学院</a></li>
								<li><a href="${base}/serviceMenuClient?parentId=3">服务菜单</a></li>
								<li><a href="${base}/teamDetails">皇壹团队</a></li>	
								<li><a href="${base}/consultClient">咨询报名</a></li>	
								<li><a href="${base}/noticeClient?parentId=2">皇壹动态</a></li>
								<li><a href="${base}/contactClient">战略合作</a></li>
							</ul> <!-- End of .menuzord-menu -->
						</nav> <!-- End of #main_menu -->
					</div>
				</div>
			</div> <!-- End of .conatiner -->
		</section> <!-- End of .theme_menu -->

		<section class="page-title">
        	<div class="container">
            	<div class="row clearfix">
                    <br><br><br>
                </div>
            </div>
        </section>

		<section class="contact_us">
			<div class="container">  
			<div class="col-md-12" style="padding-left: 30px;">
					<ol class="breadcrumb" style="background-color: inherit;">
						<li><a href="${base}/" style="color: #337ab7;">首页</a></li>
					  	<li class="active">服务流程</li>
					</ol>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="service-sidebar">
						<ul class="service-catergory">
							<li class="active"><a href="javascript:void(0)" onclick="signUpOrConsult(this,1)"><span class="icon-left fa fa-chevron-right"></span>服务流程</a></li>
							<!-- <li><a href="javascript:void(0)" onclick="signUpOrConsult(this,2)"><span class="icon-left fa fa-chevron-right"></span>培训报名</a></li> -->
						</ul>                                                 
					</div>
				</div> 
				<div class="col-md-8 col-sm-12 col-xs-12" id="consult">
	                <div class="sec-title text-center">
	                    <h2>服务 <span>流程</span></h2>
						<p>收费标准：根据服务内容协商，一次性收费或分期收费</p>
	                </div>
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="" id="ibox-content">
                                <div id="vertical-timeline" class="vertical-container light-timeline">
                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon navy-bg">
                                            <i>1</i>
                                        </div>

                                        <div class="vertical-timeline-content text-center" style="background-color: #1ab394">
                                            <h1 style="color: white;">A商谈并确定合作</h1>
                                            <p class="col-md-6" style="color: white;font-size: 20px;margin: 0;">双方了解</p>
                                            <p class="col-md-6" style="color: white;font-size: 20px;margin: 0;">确定合作</p>
                                            <p class="col-md-6" style="color: white;font-size: 20px;margin: 0;">签定协议</p>
                                        </div>
                                    </div>

                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon blue-bg">
                                            <i>2</i>
                                        </div>

                                        <div class="vertical-timeline-content text-center" style="background-color: #1c84c6;">
                                            <h1 style="color: white;">B调研分析</h1>
                                            <p class="col-md-6" style="color: white;font-size: 20px;margin: 0;">调研问卷</p>
                                            <p class="col-md-6" style="color: white;font-size: 20px;margin: 0;">实地调研</p>
                                            <p class="col-md-6" style="color: white;font-size: 20px;margin: 0;">人员访谈</p>
                                            <p class="col-md-6" style="color: white;font-size: 20px;margin: 0;">资料收集、分析</p>
                                        </div>
                                    </div>

                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon lazur-bg">
                                            <i>3</i>
                                        </div>

                                        <div class="vertical-timeline-content text-center" style="background-color: #23c6c8;">
                                            <h1 style="color: white;">C方案设计</h1>
                                            <p class="col-md-6" style="color: white;font-size: 20px;margin: 0;">确定企业核心关键问题</p>
                                            <p class="col-md-6" style="color: white;font-size: 20px;margin: 0;">设计项目方案</p>
                                            <p class="col-md-6" style="color: white;font-size: 20px;margin: 0;">沟通完善设计方案</p>
                                            <p class="col-md-6" style="color: white;font-size: 20px;margin: 0;">确定方案</p>
                                        </div>
                                    </div>

                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon yellow-bg">
                                            <i>4</i>
                                        </div>

                                        <div class="vertical-timeline-content text-center" style="background-color: #f8ac59;">
                                            <h1 style="color: white;">D方案落地</h1>
                                            <p class="col-md-6" style="color: white;font-size: 20px;margin: 0;">协助企业宣导方案</p>
                                            <p class="col-md-6" style="color: white;font-size: 20px;margin: 0;">培训企业方案实施</p>
                                            <p class="col-md-6" style="color: white;font-size: 20px;margin: 0;">指导企业实施方案</p>
                                        </div>
                                    </div>

                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon lazur-bg">
                                            <i>5</i>
                                        </div>
                                        <div class="vertical-timeline-content text-center" style="background-color: #23c6c8;">
                                            <h1 style="color: white;">E后续服务</h1>
                                            <p class="col-md-6" style="color: white;font-size: 20px;margin: 0;">跟踪服务2年</p>
                                            <p class="col-md-6" style="color: white;font-size: 20px;margin: 0;">解决方案实施中的问题</p>
                                            <p class="col-md-6" style="color: white;font-size: 20px;margin: 0;">邀请企业参加培训</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</section>
		<!-- footer -->
		[#include "client/common/foot.html" /]
		
		<!-- Scroll Top Button -->
		<button class="scroll-top tran3s color2_bg">
			<span class="fa fa-angle-up"></span>
		</button>
		<!-- pre loader  -->
		<div class="preloader"></div>
		[#include "client/common/js.html" /]
	</div>
	<script>
	</script>
</body>
</html>
