<!DOCTYPE html>
<html lang="en">
<head>
	[#include "client/common/head.html" /]
</head>

<body>
	<div class="boxed_wrapper">
		<!-- Menu -->
		<section class="theme_menu stricky">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="main-logo">
							<a href="${base}/"><img src="${base}/img/logo.png" alt=""></a>
						</div>
					</div>
					<div class="col-md-8 menu-column">
						<nav class="menuzord" id="main_menu">
						   <ul class="menuzord-menu">
								<li><a href="${base}/intoClient">走进皇壹</a></li>
								<li><a href="${base}/flowPathClient">服务流程</a></li>
								<li><a href="${base}/videoClient?parentId=1">皇壹商学院</a></li>
								<li><a href="${base}/serviceMenuClient?parentId=3">服务菜单</a></li>
								<li><a href="${base}/teamDetails">皇壹团队</a></li>	
								<li><a href="${base}/consultClient">咨询报名</a></li>	
								<li><a href="${base}/noticeClient?parentId=2">皇壹动态</a></li>
								<li><a href="${base}/contactClient">战略合作</a></li>
							</ul> <!-- End of .menuzord-menu -->
						</nav> <!-- End of #main_menu -->
					</div>
				</div>
			</div> <!-- End of .conatiner -->
		</section> <!-- End of .theme_menu -->

		<section class="page-title">
        	<div class="container">
            	<div class="row clearfix">
                    <br><br><br>
                </div>
            </div>
        </section>

		<br><br><br><br>
		<section class="about">
			<div class="container">
				<div class="col-md-12">
					<ol class="breadcrumb" style="background-color: inherit;padding-left: 0px;">
					  <li><a href="${base}/">首页</a></li>
					  <li class="active">走进皇壹</li>
					</ol>
				</div>
				<div class="item-list">
					<div class="row">
						<div class="col-md-8 col-sm-12 col-xs-12">
							<div class="item clearfix">
								<div class="sec-title">
									<h2>关于 <span>皇壹</span></h2>
								</div>
								<div id="contentId" class="content-box">
									<h4>${synopsis.content}</h4>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12">
							<div class="item">
								<figure class="image-box">
									<img src="${base}/${synopsis.imgPath}" alt="" />
								</figure>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<br><br><br><br>
		<section class="about">
			<div class="container">
				<div class="item-list">
					<div class="row">
						<div class="col-md-8 col-sm-12 col-xs-12">
							<div class="item clearfix">
								<div class="sec-title">
									<h2>皇壹 <span>观点</span></h2>
								</div>
								<div id="contentId" class="content-box">
									<h4>${opinion.content}</h4>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12">
							<div class="item">
								<figure class="image-box">
									<img src="${base}/${opinion.imgPath}" alt="" />
								</figure>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
	<!-- footer -->
	[#include "client/common/foot.html" /]

	<!-- Scroll Top Button -->
	<button class="scroll-top tran3s color2_bg">
		<span class="fa fa-angle-up"></span>
	</button>
	<!-- pre loader  -->
	<div class="preloader"></div>

		[#include "client/common/js.html" /]

	</div>
	<script>
	</script>
</body>
</html>




