<!DOCTYPE html>
<html lang="en">
<head>
	[#include "client/common/head.html" /]
</head>

<body>
	<div class="boxed_wrapper">
		<section class="theme_menu stricky">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="main-logo">
							<a href="${base}"><img src="${base}/img/logo.png" alt=""></a>
						</div>
					</div>
					<div class="col-md-2">
					</div>
					<div class="col-md-6 menu-column">
						<nav class="menuzord" id="main_menu">
						   <ul class="menuzord-menu">
								<li><a href="${base}">走进皇壹</a></li>
								<li><a href="${base}/noticeClient?parentId=2">皇壹公告</a></li>
								<li><a href="${base}/consultClient">皇壹咨询</a></li>
								<li><a href="${base}/videoClient?parentId=1">皇壹视频</a></li>
								<li><a href="${base}/manageConsultClient">管理咨询</a></li>	
								<li><a href="${base}/contactClient">加盟合作</a></li>
							</ul> <!-- End of .menuzord-menu -->
						</nav> <!-- End of #main_menu -->
					</div>
				</div>
			</div> <!-- End of .conatiner -->
		</section> <!-- End of .theme_menu -->

		<section class="page-title">
        	<div class="container">
            	<div class="row clearfix">
                    <br><br><br>
                </div>
            </div>
        </section>
        
		<section class="service-single">
			<div class="container">
				<div class="col-md-12" style="padding-left: 30px;">
					<ol class="breadcrumb" style="background-color: inherit;">
					  <li><a href="${base}">走进皇壹</a></li>
					  <li class="active">管理咨询</li>
					</ol>
				</div>
				<div class="row">     
					<div class="col-md-3 col-sm-12 col-xs-12">          
						<div class="service-sidebar">
							<ul class="service-catergory">
								<li class="active"><a href="javascript:void(0)" onclick="showOrHidden(this,1)"><span class="icon-left fa fa-chevron-right"></span>为什么咨询我们</a></li>
								<li><a href="javascript:void(0)" onclick="showOrHidden(this,2)"><span class="icon-left fa fa-chevron-right"></span>为企业解决的烦恼</a></li>
								<li><a href="javascript:void(0)" onclick="showOrHidden(this,3)"><span class="icon-left fa fa-chevron-right"></span>业务领域</a></li>
							</ul>                                                 
						</div>
					</div>
					<div class="col-md-9 col-sm-12 col-xs-12" id="us">
						<div class="outer-box">
							<div class="content-box">
								<div class="row clearfix">
									<div class="col-md-6 col-sm-6">
										<h4>皇壹咨询的服务导向</h4>
										<p>专业、规范、高效、精品</p>
									</div>
									<div class="col-md-6 col-sm-6">
										<h4>皇壹的服务价值</h4>
										<p>为企业聚集人才、留住人才、提升经营效益、防范权益纷争</p>
										<p>用皇壹人的法律、管理智慧为企业插上创造价值、飞黄腾达的翅膀</p>
									</div>
								</div>
								<div class="row clearfix">
									<div class="col-md-6 col-sm-6">
										<h4>皇壹咨询宣扬的理念</h4>
										<p>靠制度治企胜于靠人治企</p>
										<p>不要以自己的先入为主，束缚了对制度价值的判断</p>
										<p>宁可未雨绸缪，莫要临渴掘井---预防胜于补救</p>
										<p>规划设计先行，磨刀不误砍柴---虽事半然功倍</p>
									</div>
									<div class="col-md-6 col-sm-6">
										<h4>皇壹咨询的使命愿景</h4>
										<p>让企业创始人不因融资而失去企业控制权</p>
										<p>让企业合伙人不因权利、利益纷争而失和</p>
										<p>让企业管理者不因人才、资源流失而苦恼</p>
										<p>让企业管理者不因员工积极性不高而发愁</p>
										<p>让企业经营者不因其经营业绩低迷而叹气</p>
									</div>
								</div>
							</div>						                                                       
						</div>
					</div>
					<div class="col-md-9 col-sm-12 col-xs-12" id="annoyance">
						<div class="outer-box">
							<div class="content-box">
								<div class="sec-title text-center">
									<h2>（一）股权激励与股权融资</h2>
								</div>
								
								<div class="text">
									<p>1.企业如何留住高精尖人才</p>
								</div>
							
								<div class="text style-two">
									<p>2.企业如何打造与上下游供应商、经销商、客户的利益共同体，提高企业经营业绩</p>
								</div>
								<div class="text style-two">
									<p>3.企业如何才能调动员工的工作积极性和创造性</p>
								</div>
								<div class="text style-two">
									<p>4.企业如何用股权对内激励，对外融资</p>
								</div>
								<div class="text style-two">
									<p>5.企业如何才能提高经济效益、经营业绩、工作效率</p>
								</div>
								<div class="text style-two">
									<p>6.股权激励如何设计、实施</p>
								</div>
								<div class="text style-two">
									<p>7.不同行业的股权激励方法(连锁、生产、商贸、科技、电商等）</p>
								</div>
								<div class="text style-two">
									<p>8.企业如何无需资金设计连锁扩张体系</p>
								</div>
								
								<div class="sec-title text-center" style="margin-top: 50px;">
									<h2>（二）公司治理与公司管控</h2>
								</div>
								<div class="text">
									<p>1.如何设计初创企业的股权架构及如何以微量出资控制大额持股人</p>
								</div>
								<div class="text style-two">
									<p>2.如何设计企业创始人的控制权</p>
								</div>
								<div class="text style-two">
									<p>3.如何设计企业的公司章程</p>
								</div>
								<div class="text style-two">
									<p>4.如何设计企业的组织架构、议事规则、表决制度</p>
								</div>
								<div class="text style-two">
									<p>5.如何防止企业合伙人之间因企业经营、利益分配、权力配置分歧而产生纠纷</p>
								</div>
								<div class="text style-two">
									<p>6.如何避免企业僵局情形的出现</p>
								</div>
								<div class="text style-two">
									<p>7.如何防止企业高管从事关联交易而损害企业及合伙人的利益</p>
								</div>
								<div class="text style-two">
									<p>8.如何设计企业内、外合伙人制，整合企业上下游、供应商、客户等资源</p>
								</div>
								<div class="text style-two">
									<p>9.如何打造企业的事业合伙人及对其股权如何分配</p>
								</div>
								<div class="text style-two">
									<p>10.如何保证企业创始人引进投资人时股权稀释但是其控制权不被稀释</p>
								</div>
								<div class="text style-two">
									<p>11.如何处理企业在职合伙人与非在职合伙人之间的利益分配关系</p>
								</div>
								<div class="text style-two">
									<p>12.如何设计企业合伙人之间的分红机制</p>
								</div>
								<div class="text style-two">
									<p>13.如何设计企业合伙人进入机制，防止光拿钱不干活</p>
								</div>
								<div class="text style-two">
									<p>14.如何设计企业合伙人退出机制，防止兄弟式合伙，仇人式散伙</p>
								</div>
								<div class="text style-two">
									<p>15.企业如何进行投融资规划</p>
								</div>
								<div class="text style-two">
									<p>16.如何设计企业的投融资方案</p>
								</div>
								<div class="text style-two">
									<p>17.企业如何控制、管理、运营企业分公司、分店、分部</p>
								</div>
							</div>						                                                       
						</div>
					</div>
					<div class="col-md-9 col-sm-12 col-xs-12" id="business">
						<div class="outer-box">
							<div class="content-box">
								<div class="sec-title text-center">
									<h2>（一）股权激励与股权融资</h2>
								</div>
								<div class="row clearfix">
									<div class="col-md-4 col-sm-4">
										<h4>服务内容</h4>
										<p>团队股权激励设计</p>
										<p>上下游股权激励设计</p>
										<p>员工股权激励设计</p>
										<p>股权激励管理制度设计</p>
										<p>股权激励协议文件设计</p>
										<p>事业合伙人制度设计</p>
										<p>股权融资方案设计</p>
										<p>股权融资利益保障机制设计</p>
										<p>股权融资与股权激励结合制度设计</p>
										<p>股权融资架构设计</p>
										<p>股权融资特殊条款设计</p>
										<p>股权控制与反稀释设计</p>
									</div>
									<div class="col-md-8 col-sm-8">
										<h4>针对问题</h4>
										<p>团队成员的创业积极性、人才流失等问题</p>
										<p>企业发展缓慢、管理成本高等问题</p>
										<p>企业融资难、员工工作效率低、经营业绩低下等</p>
										<p>企业扩张无力、发展迟缓，人才匮乏、合伙人创业、创新积极性不高</p>
									</div>
									<div class="col-md-12 col-sm-12" style="margin-top: 50px;">
										<h4>服务价值</h4>
										<p>提高创业团队创业效率、稳定创业团队</p>
										<p>助推企业快速扩张、提升经营业绩、降低管理成本、建立利益共享机制、增强主人翁归属感 </p>
										<p>化解企业融资难题、 助推企业快速扩张、提升经营业绩、降低管理成本、建立利益共享机制、增强主人翁归属感 </p>
									</div>
								</div>
								
								
								
								
								
								<div class="sec-title text-center" style="margin-top: 100px;">
									<h2>（二） 公司治理与公司管控</h2>
								</div>
								<div class="row clearfix">
									<div class="col-md-4 col-sm-4">
										<h4>服务内容</h4>
										<p>公司股权梳理、分析</p>
										<p>合伙人股权结构设计</p>
										<p>股权控制权设计</p>
										<p>投融资股权结构设计</p>
										<p>持股平台方案设计</p>
										<p>动态股权结构设计</p>
										<p>股权分配、收益设计</p>
										<p>动态股权分配、收益设计</p>
										<p>公司治理结构设计</p>
										<p>公司“三会一层”设计</p>
										<p>议事规则、规章制度设计</p>
										<p>合伙人进退机制设计</p>
										<p>公司章程设计</p>
									</div>
									<div class="col-md-8 col-sm-8">
										<h4>针对问题</h4>
										<p>股权结构不合理、股权结构单一等问题</p>
										<p>公司僵局、决策效率低下、合伙人内斗等</p>
										<p>公司话语权、控制权等</p>
										<p>公司控制权掌控、投融资方价值回报等</p>
										<p>节税、投资人风险转移、融资、公司控制权等</p>
										<p>合伙人话语权、收益分配、合伙人进退、经营业绩等</p>
										<p>优先认购权、利益保障、公司控制权等</p>
										<p>合伙人工作积极性、话语权、合伙人进退等</p>
										<p>合伙人权益保护、公司制衡机制等</p>
										<p>合伙人权益保护、公司制衡机制等</p>
										<p>合伙人权益保护、公司制衡机制等</p>
										<p>合伙人对公司贡献，关联交易，竞业禁止等</p>
										<p>公司全面问题（表决权、公司控制、收益分配、股权转让、优先认购权、公司解散等等）</p>
									</div>
									<div class="col-md-12 col-sm-12" style="margin-top: 50px;">
										<h4>服务价值</h4>
										<p>防范、化解公司团队分裂，提高企业决策效率，破解、防范公司僵局、扩充公司股权、放大股权融资成效、隔离投资风险等等</p>
										<p>防范、化解公司团队分裂，提高企业决策效率，破解、防范公司僵局等等</p>
										<p>防范公司控制权旁落等等</p>
										<p> 防范公司控制权旁落，提高融资效率等等</p>
										<p>为企业依法合规节税， 防范公司控制权旁落，转移、隔离投资人风险等等</p>
										<p>为企业提升经营业绩，提高工作积极性，保障收益分配公平性等等</p>
										<p>为企业提供高效、合理的股权架构，提高工作积极性，保障收益分配公平性等等</p>
										<p>为企业提供高效、合理的股权架构，提高工作积极性，保障收益分配公平性等等</p>
										<p>维护公司、股东、投资人权益形成相互制衡、相互监督、相互配合的高效、完备、良善的公司治理机制、运转机制、分配机制、进退机制、风险防范机制、矛盾化解机制等等。</p>
										<p>为企业形成形成完备、良善的治理制度，全面防范化解企业各方面矛盾，提高企业经营效益和经营效率等等。</p>
									</div>
								</div>
							</div>					                                                       
						</div>
					</div>
				</div>
			</div>
		</section>

	<!-- footer -->
	[#include "client/common/foot.html" /]

	<!-- Scroll Top Button -->
	<button class="scroll-top tran3s color2_bg">
		<span class="fa fa-angle-up"></span>
	</button>
	<!-- pre loader  -->
	<div class="preloader"></div>
		[#include "client/common/js.html" /]
	</div>
	<script>
	$(function(){
		$("#us").show();
		$("#annoyance").hide();
		$("#business").hide();
	})
	function showOrHidden(e,flag){
		$(".service-catergory").find("li").removeClass("active");
		$(e).parent().addClass("active");
		if(flag == 1){
			$("#us").show();
			$("#annoyance").hide();
			$("#business").hide();
		}else if(flag == 2){
			$("#us").hide();
			$("#annoyance").show();
			$("#business").hide();
		}else if(flag == 3){
			$("#us").hide();
			$("#annoyance").hide();
			$("#business").show();
		}
	}
	</script>
</body>
</html>