<!DOCTYPE html>
<html lang="en">
<head>
	[#include "client/common/head.html" /]
</head>

<body>
	<div class="boxed_wrapper">
		<section class="theme_menu stricky">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="main-logo">
							<a href="${base}/"><img src="${base}/img/logo.png" alt=""></a>
						</div>
					</div>
					<div class="col-md-8 menu-column">
						<nav class="menuzord" id="main_menu">
						   <ul class="menuzord-menu">
								<li><a href="${base}/intoClient">走进皇壹</a></li>
								<li><a href="${base}/flowPathClient">服务流程</a></li>
								<li><a href="${base}/videoClient?parentId=1">皇壹商学院</a></li>
								<li><a href="${base}/serviceMenuClient?parentId=3">服务菜单</a></li>
								<li><a href="${base}/teamDetails">皇壹团队</a></li>	
								<li><a href="${base}/consultClient">咨询报名</a></li>	
								<li><a href="${base}/noticeClient?parentId=2">皇壹动态</a></li>
								<li><a href="${base}/contactClient">战略合作</a></li>
							</ul> <!-- End of .menuzord-menu -->
						</nav> <!-- End of #main_menu -->
					</div>
				</div>
			</div> <!-- End of .conatiner -->
		</section> <!-- End of .theme_menu -->

		<section class="page-title">
        	<div class="container">
            	<div class="row clearfix">
                    <br><br><br>
                </div>
            </div>
        </section>
		
		<section class="our-services-gardener">
			<div class="container">
				<div class="col-md-12" style="padding-left: 30px;">
					<ol class="breadcrumb" style="background-color: inherit;">
					  <li><a href="${base}/">首页</a></li>
					  <li class="active">皇壹动态</li>
					</ol>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="service-sidebar">
						<ul class="service-catergory">
						[#list menuSelect as ms]
							[#if ms_index==0]
							<li class="active"><a href="javascript:void(0)" onclick="addClass(this,${ms.id},1)"><span class="icon-left fa fa-chevron-right"></span>${ms.name}</a></li>
							[/#if]
							[#if ms_index!=0]
							<li><a href="javascript:void(0)" onclick="addClass(this,${ms.id},1)"><span class="icon-left fa fa-chevron-right"></span>${ms.name}</a></li>
							[/#if]
						[/#list]
						</ul>                                                 
					</div>
				</div>
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="row clearfix" id="noticesShow">
						
					</div>
					<div class="fy1 text-center">
					
					</div>
				</div>
				<!--分页-->
				
			</div>
		</section>
		
	<!-- footer -->
	[#include "client/common/foot.html" /]

	<!-- Scroll Top Button -->
	<button class="scroll-top tran3s color2_bg">
		<span class="fa fa-angle-up"></span>
	</button>
	<!-- pre loader  -->
	<div class="preloader"></div>
		[#include "client/common/js.html" /]
	</div>
	<script>
	[#list menuSelect as m]
	    [#if m_index == 0]
			var noticeType = '${m.id}';
			$(function(){
				$.post("${base}/noticeShow",{
		        		noticeType : noticeType,
		        		currPage : 1
		        	},function(r){
						$("#noticesShow").empty();
						$(".fy1").empty();
						var currPage = r.currPage;
						var pageCount = r.pageCount;
						$(".fy1").append(currPage+'/'+pageCount+' 页 <span id="page"></span>');
						var p="",n="";
						
						if(pageCount != 1){
							if(currPage == 1){
								p='<button type="button" class="btn btn-link pull-left" disabled>上一页</button>';
								n='<button type="button" class="btn btn-link pull-right" onclick="noticeClient('+r.noticeType+','+(currPage+1)+')">下一页</button>';
							}else if(currPage == pageCount){
								p='<button type="button" class="btn btn-link pull-left" onclick="noticeClient('+r.noticeType+','+(currPage-1)+')">上一页</button>';
								n='<button type="button" class="btn btn-link pull-right" disabled>下一页</button>';
							}else{
								p='<button type="button" class="btn btn-link pull-left" onclick="noticeClient('+r.noticeType+','+(currPage-1)+')">上一页</button>';
								n='<button type="button" class="btn btn-link pull-right" onclick="noticeClient('+r.noticeType+','+(currPage+1)+')">下一页</button>';
							}
				
						}
				
						$("#page").html(p + n);
						for(var i = 0;i<r.notices.length;i++){
							$("#noticesShow").append('<div class="col-md-6 col-sm-6 col-xs-12"><div class="single-item"><div class="img-holder"><img src="${base}/'+r.notices[i].imgPath+'" alt="Awesome Image" height="200px"></div><div class="content-holder hvr-sweep-to-bottom" style="margin-bottom: 20px;margin-top: 10px"><h4><a href="javascript:void(0)" onclick="noticeDetails('+r.notices[i].id+')">'+r.notices[i].title+'</a></h4></div></div></div>');
						}
				},'json')
			})
			[#break]
	    [/#if]
	[/#list]
	
	function addClass(e,noticeType,page){
		$(".service-catergory").find("li").removeClass("active");
		$(e).parent().addClass("active");
		noticeClient(noticeType,page);
	}		
			
	function noticeClient(noticeType,page){
		$.post("${base}/noticeShow/",{
    		noticeType : noticeType,
    		currPage : page
    	},function(r){
    		$("#noticesShow").empty();
			$(".fy1").empty();
			var currPage = r.currPage;
			var pageCount = r.pageCount;
			$(".fy1").append(currPage+'/'+pageCount+' 页 <span id="page"></span>');
			var p="",n="";
			
			if(pageCount != 1){
				if(currPage == 1){
					p='<button type="button" class="btn btn-link pull-left" disabled>上一页</button>';
					n='<button type="button" class="btn btn-link pull-right" onclick="noticeClient('+r.noticeType+','+(currPage+1)+')">下一页</button>';
				}else if(currPage == pageCount){
					p='<button type="button" class="btn btn-link pull-left" onclick="noticeClient('+r.noticeType+','+(currPage-1)+')">上一页</button>';
					n='<button type="button" class="btn btn-link pull-right" disabled>下一页</button>';
				}else{
					p='<button type="button" class="btn btn-link pull-left" onclick="noticeClient('+r.noticeType+','+(currPage-1)+')">上一页</button>';
					n='<button type="button" class="btn btn-link pull-right" onclick="noticeClient('+r.noticeType+','+(currPage+1)+')">下一页</button>';
				}
	
			}
	
			$("#page").html(p + n);
			for(var i = 0;i<r.notices.length;i++){
				$("#noticesShow").append('<div class="col-md-6 col-sm-6 col-xs-12"><div class="single-item"><div class="img-holder"><img src="${base}/'+r.notices[i].imgPath+'" alt="Awesome Image" height="200px"></div><div class="content-holder hvr-sweep-to-bottom" style="margin-bottom: 20px;margin-top: 10px"><h4><a href="javascript:void(0)" onclick="noticeDetails('+r.notices[i].id+')">'+r.notices[i].title+'</a></h4></div></div></div>');
			}
		},'json')
	}
	function noticeDetails(id){
		window.location.href = "${base}/noticesClient?id="+id;
	}
	</script>
</body>
</html>